<script type="text/javascript">
    // Redirect to russian
    var userLang = navigator.language || navigator.userLanguage; 
    var currentLang = "{{ .Site.Language.Lang}}";
    var isRedirected = localStorage.getItem('amrcloud-redirected-to-russian') || false;
    
    if (userLang.indexOf('ru') !== -1  && currentLang != 'ru' && !isRedirected ) {
        localStorage.setItem('amrcloud-redirected-to-russian', true);
        window.location = "{{ site.BaseURL }}/ru";
    }
</script>
<script>
    $(document).ready(function () {
        if ($('span.project-stat').length) {
            $.ajax({
                url: "{{ site.Params.GoogleAnalyticsApiUrl }}/ga/page",
                data: {
                    path: "{{ .RelPermalink }}",
                    link: "{{ .Params.main_link.url }}"
                },
                type: 'GET',
                cache: true,
                crossDomain: true,
                success: function (data) {
                    $("#publication_statistics_views_value").text(data['views'] || 0);
                    $("#publication_statistics_goto_value").text(data['Outbound Link'] || 0);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }     
    });
</script>