<script type="text/javascript">
    {{ if $.IsHome }}

    var prefLang = localStorage.getItem('amrcloud-pref-lang') || '';
    console.log('pref-lang:' + prefLang);

    var currentLang = "{{ .Site.Language.Lang}}";
    console.log('currentLang:' + currentLang);

    var browserLang = navigator.language || navigator.userLanguage;
    console.log('browserLang:' + browserLang);

    if (prefLang !== '' && prefLang != currentLang) {

        window.location = "{{ site.BaseURL }}/" + prefLang;
    } else if (prefLang == '' && browserLang != currentLang && browserLang.indexOf('ru') != -1) {
        localStorage.setItem('amrcloud-pref-lang', 'ru');
        window.location = "{{ site.BaseURL }}/ru";
    }

    {{ end }}
</script>
<script>
    // Set preferred language on toggle
    function setPreferredLanguage(lang) {
        console.log('preferred lang:' + lang);
        localStorage.setItem('amrcloud-pref-lang', lang);
    }

</script>
<script>
    $(document).ready(function () {


        if ($('span.project-stat').length) {
            $.ajax({
                url: "{{ site.Params.GoogleAnalyticsApiUrl }}/ga/page",
                data: {
                    path: "{{ .RelPermalink }}",
                    link: "{{ .Params.main_link.url }}"
                },
                type: 'GET',
                cache: true,
                crossDomain: true,
                success: function (data) {
                    $("#publication_statistics_views_value").text(data['views'] || 0);
                    $("#publication_statistics_goto_value").text(data['Outbound Link'] || 0);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    });
</script>