<div class="container" style="text-align: center">
    {{ $pack := or .Params.main_link.icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
        <a href="{{ .Params.main_link.url }}" class="btn btn-outline btn-project-main btn-lg" target="_blank" rel="noopener">
            {{ with .Params.main_link.icon -}}<i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"
                style="padding-right: 10px;"></i>
            {{ end }}
            {{ .Params.main_link.name | emojify | safeHTML }}
        </a>
    {{ end }}
</div>