{{ $str := "" }}
<div class="post-nav d-flex justify-content-between">
  {{if .NextInSection}}
  {{/* For the docs layout, prev/next labels are reversed. */}}
  {{ if eq .Type "docs" }}{{ $str = "previous" }}{{else}}{{ $str = "next" }}{{end}}
  <div class="post-nav-item post-nav-item-left float-left" >
    <div class="meta-nav">{{ i18n $str }}</div>
    <a href="{{.NextInSection.RelPermalink}}" rel="next">{{.NextInSection.Title}}</a>
  </div>
  {{end}}
  {{ if eq .Type "docs" }}
  <div class="body-footer-extended">
    <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.date_format }}</p>

    {{ if site.Params.edit_page.repo_url | and site.Params.edit_page.editable.docs | and (ne .Params.editable false) | or .Params.editable }}
    <p class="edit-page">
      <a href="{{site.Params.edit_page.repo_url}}/blob/master/content/{{.File.Path}}">
        <i class="fas fa-pen pr-2"></i>{{ i18n "edit_page" | default "Edit this page" }}
      </a>
    </p>
    {{ end }}
  </div>
  {{ end }}
  {{if .PrevInSection}}
  {{ if eq .Type "docs" }}{{ $str = "next" }}{{else}}{{ $str = "previous" }}{{end}}
  <div class="post-nav-item post-nav-item-right float-right" >
    <div class="meta-nav">{{ i18n $str }}</div>
    <a href="{{.PrevInSection.RelPermalink}}" rel="prev">{{.PrevInSection.Title}}</a>
  </div>
  {{end}}
</div>
